# Unity-generated folders
# These folders are temporary and specific to your computer.
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
[Uu]ser[Ss]ettings/

# IDE and OS files
.vs/
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
.DS_Store

# Executable files
*.apk
*.aab
*.exe
*.dll
*.bundle